@page "/CrearCuenta"
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject IUsuarioService UsuarioService
@inject IToastService toastService

<h3>Login</h3>

<EditForm Model="@usuario" OnSubmit="HandleSubmit">
    <div class="container-fluid">
        <div class="form-group row mb-1">
            <label class="col-sm-3">Nombre</label>
            <div class="col-sm-8">
                <InputText class="form-control" @bind-Value="@usuario.Nombre"></InputText>
            </div>
        </div>
        <div class="form-group row mb-1">
            <label class="col-sm-3">Password</label>
            <div class="col-sm-8">
                <InputText type="password" class="form-control" @bind-Value="@usuario.Password"></InputText>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Crear cuenta</button>
    </div>
</EditForm>

@code {
    Usuario usuario = new();

    async Task HandleSubmit()
    {
        var response = await UsuarioService.InsertarUsuario(usuario);

        if (response.IsSuccess)
        {
            this.toastService.ShowSuccess(response.Message, "Exitoso");
        }
        else
        {
            this.toastService.ShowError(response.Message, "Error");
        }
    }
}