@page "/"



<center>
    <h1>Sidny Zapata</h1>
    <h1>Prueba técnica para Carvajal</h1>
</center>

<h3>Detalles técnicos sobre el Back</h3>
<table class="table">
    <thead>
        <tr>
            <th>Framework</th>
            <th>Cifrado</th>
            <th>ORM</th>
            <th>APIs</th>
            <th>Authentication</th>
            <th>Authorization</th>
            <th>Base de datos</th>
            <th>Unit Test</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>.NET 6</td>
            <td>SHA512</td>
            <td>EF</td>
            <td><a href="https://carvajalservicesserver20221108033017.azurewebsites.net/swagger/">Apis click</a></td>
            
            <td>Token con JWT</td>
            <td>Etiqueta [Authorize]</td>
            <td>Azure SQL</td>
            <td>XUnit</td>
        </tr>
    </tbody>
</table>

<h3>Detalles técnicos sobre el Front</h3>
<table class="table">
    <thead>
        <tr>
            <th>Framework</th>
            <th>Detalles</th>
            <th>Authentication</th>
            <th>Authorization</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Blazor</td>
            <td>WebAssembly con server</td>
            <td>Token guardado en LocalStorage</td>
            <td>Etiqueta [Authorize]</td>
        </tr>
    </tbody>
</table>

<h3>Detalles técnicos sobre Azure</h3>
<table class="table">
    <thead>
        <tr>
            <th>Grupo de recursos</th>
            <th>Azure SQL</th>
            <th>AzureApp</th>
            <th>Server</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CarvajalServicesServer20221108033017</td>
            <td>PedidosDB (carvajalserver/PedidosDB)</td>
            <td>CarvajalServicesServer20221108033017</td>
            <td>Linux Plan</td>
        </tr>
    </tbody>
</table>


