<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f47cdd57-b2f2-4b3b-9f65-01371028d188/resourceGroups/carvajalresource/providers/Microsoft.Web/sites/CarvajalServicesServer20221108033017</ResourceId>
    <ResourceGroup>carvajalresource</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://carvajalservicesserver20221108033017.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>824003ce-24e9-4471-b125-08338f96213e</ProjectGuid>
    <PublishUrl>https://carvajalservicesserver20221108033017.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CarvajalServicesServer20221108033017</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>